/* @tailwind base; */

.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.fixed {
  position: fixed !important
}

.absolute {
  position: absolute !important
}

.relative {
  position: relative !important
}

.inset-0 {
  inset: 0px !important
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important
}

.mb-3 {
  margin-bottom: 0.75rem !important
}

.mt-10 {
  margin-top: 2.5rem !important
}

.flex {
  display: flex !important
}

.grid {
  display: grid !important
}

.hidden {
  display: none !important
}

.h-12 {
  height: 3rem !important
}

.h-14 {
  height: 3.5rem !important
}

.h-5 {
  height: 1.25rem !important
}

.h-full {
  height: 100% !important
}

.w-12 {
  width: 3rem !important
}

.w-14 {
  width: 3.5rem !important
}

.w-28 {
  width: 7rem !important
}

.w-64 {
  width: 16rem !important
}

.w-full {
  width: 100% !important
}

.w-screen {
  width: 100vw !important
}

.flex-shrink {
  flex-shrink: 1 !important
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr)) !important
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important
}

.flex-col {
  flex-direction: column !important
}

.items-center {
  align-items: center !important
}

.items-stretch {
  align-items: stretch !important
}

.justify-center {
  justify-content: center !important
}

.justify-between {
  justify-content: space-between !important
}

.gap-2 {
  gap: 0.5rem !important
}

.gap-3 {
  gap: 0.75rem !important
}

.overflow-hidden {
  overflow: hidden !important
}

.truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important
}

.rounded-lg {
  border-radius: 0.5rem !important
}

.border {
  border-width: 1px !important
}

.border-none {
  border-style: none !important
}

.bg-gray-200 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1)) !important
}

.bg-primary {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(28 152 248 / var(--tw-bg-opacity, 1)) !important
}

.bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1)) !important
}

.bg-opacity-70 {
  --tw-bg-opacity: 0.7 !important
}

.p-2 {
  padding: 0.5rem !important
}

.p-3 {
  padding: 0.75rem !important
}

.px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important
}

.px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important
}

.px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important
}

.py-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important
}

.py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important
}

.pb-2 {
  padding-bottom: 0.5rem !important
}

.pb-3 {
  padding-bottom: 0.75rem !important
}

.pr-1 {
  padding-right: 0.25rem !important
}

.pr-2 {
  padding-right: 0.5rem !important
}

.pr-4 {
  padding-right: 1rem !important
}

.pt-2 {
  padding-top: 0.5rem !important
}

.pt-24 {
  padding-top: 6rem !important
}

.pt-3 {
  padding-top: 0.75rem !important
}

.pt-5 {
  padding-top: 1.25rem !important
}

.text-center {
  text-align: center !important
}

.text-base {
  font-size: 1rem !important;
  line-height: 1.5rem !important
}

.text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important
}

.text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important
}

.text-xl {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important
}

.font-semibold {
  font-weight: 600 !important
}

.text-black {
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1)) !important
}

.text-gray-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1)) !important
}

.text-gray-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1)) !important
}

.text-green-600 {
  --tw-text-opacity: 1 !important;
  color: rgb(22 163 74 / var(--tw-text-opacity, 1)) !important
}

.text-red-600 {
  --tw-text-opacity: 1 !important;
  color: rgb(220 38 38 / var(--tw-text-opacity, 1)) !important
}

.text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1)) !important
}

.outline {
  outline-style: solid !important
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter !important;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter !important;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important
}

